:root {
  font-family: Roboto, sans-serif;
  font-weight: 400;

  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --custom-white: hsl(0, 0%, 100%);
  --success: #39ad48;
}

#app, .js-disabled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  min-height: 100vh;
  min-width: 320px;
  background-color: var(--dark-slate-grey);
}

.js-disabled {
  text-transform: uppercase;
  color: var(--tomato);
}
